@import url('../common/reset.css');
@import url('../common/common.css');
.container .content .banner {
  height: 450px;
  background: url(http://qiniu.lovingxiaoqiu.cn/story_banner_3.jpg);
  background-size: 100% 100%;
}
.container .content .banner .banner-center {
  width: 1156px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container .content .banner .banner-center ul {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.container .content .banner .banner-center ul li {
  width: 150px;
  height: 100px;
  margin: 0 20px;
  opacity: 0.5;
  transition: 1s all linear;
}
.container .content .banner .banner-center ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #ffffff;
  padding: 8px;
}
.container .content .banner .banner-center ul li:hover {
  transform: scale(1.5);
  opacity: 1;
}
.container .content .banner .banner-center .banner_desc {
  width: 400px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-weight: 600;
  opacity: 0.7;
  transition: 1.5s all linear;
}
.container .content .banner .banner-center .banner_desc > p {
  font-size: 30px;
  text-align: right;
}
.container .content .banner .banner-center .banner_desc > div {
  letter-spacing: 1.5px;
  font-size: 25px;
  margin-top: 120px;
}
.container .content .banner .banner-center .banner_desc:hover {
  transform: scale(1.2);
  opacity: 1;
}
.container .content .article-wrapper {
  width: 1024px;
  margin: 50px auto;
}
.container .content .article-wrapper .list > li dl {
  display: flex;
}
.container .content .article-wrapper .list > li dl dt {
  border: 1px solid green;
  margin-right: 30px;
  height: 120px;
  padding: 5px;
}
.container .content .article-wrapper .list > li dl dt img {
  width: 200px;
  height: 100%;
}
.container .content .article-wrapper .list > li dl dd span {
  display: block;
}
.container .content .article-wrapper .list > li dl dd span:nth-child(1) {
  font-size: 25px;
  cursor: pointer;
}
.container .content .article-wrapper .list > li dl dd span:nth-child(1):hover {
  color: green;
}
.container .content .article-wrapper .list > li dl dd span:nth-child(2) {
  font-size: 14px;
  text-indent: 25px;
  line-height: 25px;
  width: 700px;
  margin: 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.container .content .article-wrapper .list > li dl dd span:nth-child(3) {
  cursor: pointer;
  text-align: right;
}
.container .content .article-wrapper .list > li dl dd span:nth-child(3):hover {
  color: green;
}
