@import url('../common/reset.css');
@import url('../common/common.css');
.container .content .banner {
  height: 450px;
  background: url(http://qiniu.lovingxiaoqiu.cn/story_banner_3.jpg);
  background-size: 100% 100%;
}
.container .content .banner .banner-center {
  width: 1156px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container .content .banner .banner-center ul {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.container .content .banner .banner-center ul li {
  width: 150px;
  height: 100px;
  margin: 0 20px;
  transition: 1s all linear;
}
.container .content .banner .banner-center ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #ffffff;
  padding: 8px;
}
.container .content .banner .banner-center ul li:hover {
  transform: scale(1.5);
}
.container .content .banner .banner-center .banner_desc {
  width: 400px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-weight: 600;
  color: green;
  text-shadow: 2px 2px 2px #000;
}
.container .content .banner .banner-center .banner_desc > p {
  font-size: 30px;
  margin-top: 50px;
  text-align: right;
}
.container .content .banner .banner-center .banner_desc > div {
  margin-top: 30px;
  letter-spacing: 1.5px;
  font-size: 25px;
}
