@import url('../common/reset.css');
@import url('../common/common.css');
.container .content .banner {
  height: 400px;
  width: 100vw;
  background: url(http://qiniu.lovingxiaoqiu.cn/read_banner_3);
  background-position-y: -150px;
}
