<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="no-cache,no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="../css/about/about.css">
    <title>关于我</title>
</head>
<body>
    <div class="container">
        <header class="header" id="header">
                
        </header>  
        <div class="content">
            <div class="banner">
                <div class="banner-center">
                    <ul>
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/my.jpg" alt="">
                        </li>
                    </ul>
                    <div class="banner_desc">
                        <p>
                            尘世迷途中,无知，庸俗的屌丝一枚,生活不易,但更向往美好生活,也想追求美丽人生,此生若能拥有一个小小的属于自己的,不被打扰的世界！足矣!
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
        <footer class="footer" id="footer">
                
        </footer>
    </div>
</body>
</html>
<script src="../js/index.js"></script>
<script src="../js/common/common.js"></script>

