<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="no-cache,no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="../css/article/article.css">
    <title>关于我</title>
</head>
<body>
    <div class="container">
        <header class="header" id="header">
                
        </header>  
        <div class="content">
            <div class="banner">
                <div class="banner-center">
                    <div class="title-box">
                        <h1>那些属于自己的光阴的故事</h1>
                        <p>
                            每当回忆起大学时候的生活,总有种恍若隔世的感觉, 岁月匆匆,不知不觉中,它带走了很多美好的东西, 让我们只能从记忆的碎片中寻找那些失去的青春和故事。
                        </p>
                        <div class="title-wrapper">
                            <span class="type">标签 &nbsp;  光阴的故事</span>
                            <span class="author">作者 &nbsp;  小秋</span>
                            <span class="num">阅读 &nbsp;  100</span>
                            <span class="date">日期 &nbsp;  2020-02-03</span>
                        </div>
                    </div>
                    <div class="article-img">
                        <img src="http://qiniu.lovingxiaoqiu.cn/story_4"" alt="">
                    </div>
                </div>
                
            </div>
            <div class="article-content">
                <div class="detail-left">
                    电影《中国合伙人》
                    电影讲述了由黄晓明、佟大为、邓超饰演的三个年轻人在上世纪八十年代为了梦想一起打拼并最终成功的故事，很多人看过这部电影都说这部电影是以新东方为原型创作的，事实上并不完全是，电影与现实中的新东方有很大差距，更多的融入了导演陈可辛的影子，很多人说这部电影的剧本是俞敏洪写的，其实不然，这部剧的剧本是有早已离开新东方多年的徐小平写的。
                    
                    《中国合伙人》这部剧以青春、励志、成功为主题，迎合了社会的潮流，满足了当代青年的文化需求，这是陈可辛的精明之处，无疑他是成功的，《中国合伙人》一上映就创造了三条票房过亿的票房奇迹，最后更是创造了5..39的大票房。
                    
                    《中国合伙人》这部片子中成东青三个屌丝青年的成功梦的投影又何尝不是中国梦呢，三个来自五湖四海的年轻人各自怀揣自己的梦想走到一起，最终实现梦想，走向成功，成东青、王阳、孟晓骏三个人，一个是从农村来的屌丝青年，一个是富有艺术气息的浪漫主义者，一个是世代留学美国的世家公子，然而这三个看似永远不会有交集的人却凑到了一起。孟晓骏是一个非常骄傲的甚至有点自命清高的人，因为爷爷和父亲都曾留学美国，所以他的心里一直有个美国梦，但是当他到了美国之后遭遇的却是歧视，尤其是当他看到自己从小十指不沾洗碗水的妻子在洗衣店做苦工时感到无比痛心，于是决定放弃自己的美国梦回国。王阳泡过美国妞，或者潇洒的生活，但是最后却被自己的美国女朋友像行李一样抛弃，最后剪掉了自己的长发，剪掉自己以前的放荡不羁，和成东青开启了梦想的征程，最后娶了一个其貌不扬的女人，过上了平平淡淡的生活。片中的成东青无疑是最惨的，因为他的爱情还没开始就被拒绝了，当他经过种种考验终于收获了自己的爱情，然后这份爱情却因为美国梦而破碎，苏梅去了美国，而成东青却因为签证而被美国拒之门外，此时又因为私办补习班而被学校开除，面临着工作与爱情的双重打击，成东青开始了他的成功之路，三个大学时期的好友在经过各自不如意的生活之后最后终于走到一起，开始了属于他们的成功之路。
                    
                     一部电影无论他拍的多么好，总是有人说他好，有人说他差，但是我觉得中国合伙人这部电影是非常完美的，或许是因为他们的故事非常吸引人，总之，这是一部充满励志，青春，爱情的电影。
                    
                    当成东青用英语把美国人说的哑口无言的时候，当孟晓骏以一种成功的姿态势坐在昔日做服务生的餐馆的时候，我觉得是这部电影的高潮所在，因为此时此刻他们是骄傲的站在美国，不需要去仰望，以一种平等的态度去看待。
                    
                    《中国合伙人》从新东方到新梦想，一个美国混不下去的邓超，一个体制内混不下去的黄晓明，一个除了混什么也不会的佟大为。这样三个人，从大学里走出来创业，浆糊筒，破厂房，两千多学生还带住宿，其中充满了艰辛。
                    
                    《中国合伙人》中的三个男主角分别代表有着不同的性格但却仍然走到一起的朋友，即使他们有着这样或那样的分歧，即使王阳最后说，不要跟最好的朋友合伙开公司，但正是他们三个的努力才成就了新梦想，也成就了他们崭新的梦想！可以说，三个人中，孟晓骏是军师，统管全局，王阳是技术专家，他有着专业的技能，而成东青，这个土鳖，却是凝固三人感情的关键，成东青对新梦想的不离不弃感动了每一个合伙人。因此，他们所有人都愿意与成东青坚持，所以最后铸就了他们的成功。
                    
                    那么《中国合伙人》所传达出来的为人处事的思想以及它本身的价值观，则是这部电影真正能够吸引人能够引起共鸣的地方。这是一部地地道道的中国式电影，实现的也是现实的中国式梦想，的确，里面一些东西不够那么正能量，可能有些人看了不顺眼，为什么那么多人觉得看完这部电影之后很爽？说俗了叫土鳖的逆袭，说雅了叫为梦想奋斗，总之离不开俩字——复仇。没错就是复仇，也可以说是报复，意思就是说我从这个地方跌倒了我必须从这里爬起来，而且等我有能力了我还得回来把当年绊倒我的地方给铲平了，就像是平常被别人当奴隶欺压然后在某一天自己翻身把歌唱一样，这让更多作为一种弱势群体的观众看了能不爽？你可以叫他们没见过世面，也可以说是小人得志，可现实就是这样，《中国合伙人》拍的就是这样。 
                    
                    成东青是个土鳖，为了得到苏梅，成东青可谓是受尽磨难，从爬电线杆子到威胁跳湖，苏梅是宁死不屈。结果，趁着苏梅肺结核，成东青萌发了作为男人尤其是作为一个受压迫的男人那股最原始的冲动，二话不说霸王硬上弓，就这么搞定了她。
                    
                    孟晓骏，家境优越，堂堂燕京大学高材生，居然沦落到餐馆里连小费都没资格拿的杂工，还不如服务生，然后呢？孟晓骏以一种成功人士的姿态再回美国跟EES谈判，期间就去他打工的那家餐馆吃饭，你看，当年是你给我零钱，现在你还在这里做服务员，我已经是大老板了，多有成就感。
                    
                    这种逆袭励志的剧情每个人都会喜欢，还没成功的人把他看成精神食粮作为明天奋斗的动力，已经成功的人看成自己的回想昨天的自己，不同的人总能在这不影片当中找到属于自己的那部分。包括里面的盗版，虽然这是个错事，但结果更重要，他们反而利用这件事成为成功路上的一块跳板，在版权上他们输了，但在商业上他们完胜，而且是反败为胜，胜的漂亮。
                    
                    这就是我眼中的《中国合伙人》。
                </div>
                <div class="detail-right">
                    <div class="">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer" id="footer">
                
        </footer>
    </div>
</body>
</html>
<script src="../js/common/common.js"></script>

