<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/message/message.css">
    <title>留言</title>
</head>
<body>
    <div class="container">
        <header class="header" id="header">
                
        </header>  
        <div class="content">
            <div class="banner">
                <div class="banner-center">
                    <ul>
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/img/rose/rose-1.jpeg" alt="">
                        </li>
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/img/rose/rose-3.jpg" alt="">
                        </li>
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/img/rose/rose-4.jpeg" alt="">
                        </li>
                    </ul>
                    <div class="banner_desc">
                        <p>
                            玫瑰再一次绽放
                        </p>
                        <div>
                            当看到罗斯泪洒赛场的时候,我看到了坚持的力量
                        </div>
                    </div>
                </div>
            </div>
            <div class="temp" >
                更新中
            </div>
            <!-- <div class="article-wrapper">
                <div class="search"></div>
                <div class="list"></div>
            </div> -->
        </div>
        <footer class="footer" id="footer">
                
        </footer>
    </div>
</body>
</html>
<script src="../js/index.js"></script>
<script src="../js/common/common.js"></script>
