<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="no-cache,no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="../css/music/music.css">
    <title>触碰心灵的音符</title>
</head>
<body>
    <div class="container">
        <header class="header" id="header">
                
        </header>  
        <div class="content">
            <div class="banner">
            </div>
            <div class="article-wrapper">
                <div class="search"></div>
                <ul class="list">
                    <li>
                        <dl>
                            <dt><img src="http://qiniu.lovingxiaoqiu.cn/music-a-1.jpeg" alt=""></dt>
                            <dd>
                                <span>天才的灵魂,莫扎特 —— 《土耳其进行曲》</span>
                                <span>
                                    每当响起这快速而富有节奏感的音乐,我的心脏会加快,会忘记所有的烦恼,让我沉醉在那无与伦比的美妙当中。
                                </span>
                                <span>阅读全文</span>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="footer" id="footer">
                
        </footer>
    </div>
</body>
</html>
<script src="../js/index.js"></script>
<script src="../js/common/common.js"></script>

