<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/read/read.css">
    <title>读书日记</title>
</head>
<body>
    <div class="container">
        <header class="header" id="header">
                
        </header>  
        <div class="content">
            <div class="banner">
            </div>
            <div class="temp" >
                更新中
            </div>
            <!-- <div class="article-wrapper">
                <div class="search"></div>
                <div class="list"></div>
            </div> -->
        </div>
        <footer class="footer" id="footer">
                
        </footer>
    </div>
</body>
</html>
<script src="../js/index.js"></script>
<script src="../js/common/common.js"></script>
