<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="no-cache,no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="../css/story/story.css">
    <title>光阴的故事</title>
</head>
<body>
    <div class="container">
        <div>
            <audio src="http://qiniu.lovingxiaoqiu.cn/music_story.mp3" autoplay></audio>
        </div>
        <header class="header" id="header">
                
        </header>  
        <div class="content">
            <div class="banner">
                <div class="banner-center">
                    <div class="banner_desc">
                        
                        <div>
                            流水它带走了光阴的故事,改变了我们,就在那多愁善感而初次回忆的青春!
                        </div>
                        <p>
                            —— 《光阴的故事》
                        </p>
                    </div>
                    <ul>
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/story_1" alt="">
                        </li>
                       
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/story_3" alt="">
                        </li>
                        
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/story_5" alt="">
                        </li>
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/story_7" alt="">
                        </li>
                    </ul>
                    
                   
                </div>
            </div>
            <div class="article-wrapper">
                <div class="search"></div>
                <ul class="list">
                    <li>
                        <dl>
                            <dt><img src="http://qiniu.lovingxiaoqiu.cn/story_4" alt=""></dt>
                            <dd>
                                <span>那些属于自己的光阴的故事</span>
                                <span>
                                    每当回忆起大学时候的生活,总有种恍若隔世的感觉,
                                    岁月匆匆,不知不觉中,它带走了很多美好的东西,
                                    让我们只能从记忆的碎片中寻找那些失去的青春和故事。
                                </span>
                                <span>阅读全文</span>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="footer" id="footer">
                
        </footer>
    </div>
</body>
</html>
<script src="../js/story.js"></script>
<script src="../js/common/common.js"></script>
