<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="no-cache,no-store, must-revalidate" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="../css/story/story.css">
    <title>光阴的故事</title>
</head>
<body>
    <div class="container">
        <div>
            <audio src="http://qiniu.lovingxiaoqiu.cn/music_story.mp3" autoplay></audio>
        </div>
        <header class="header" id="header">
                
        </header>  
        <div class="content">
            <div class="banner">
                <div class="banner-center">
                    <div class="banner_desc">
                        
                        <div>
                            流水它带走了光阴的故事,改变了我们,就在那多愁善感而初次回忆的青春!
                        </div>
                        <p>
                            —— 《光阴的故事》
                        </p>
                    </div>
                    <ul>
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/story_1" alt="">
                        </li>
                       
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/story_3" alt="">
                        </li>
                        
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/story_5" alt="">
                        </li>
                        <li class="banner-item">
                            <img src="http://qiniu.lovingxiaoqiu.cn/story_7" alt="">
                        </li>
                    </ul>
                    
                   
                </div>
            </div>
            <div class="temp" >
                更新中
            </div>
            <!-- <div class="article-wrapper">
                <div class="search"></div>
                <div class="list"></div>
            </div> -->
        </div>
        <footer class="footer" id="footer">
                
        </footer>
    </div>
</body>
</html>
<script src="../js/story.js"></script>
<script src="../js/common/common.js"></script>
